# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# OS X's .DS_Store
*.DS_Store

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# LSF and UGER output
*.out

# Core dumps
core.*

# R files
*.R.swp
*.RData
*.Rout

# Batch files of hybsel_design commands
/probe-sets/**/commands.txt

# Large hybsel_design result outputs
/experiments/early-experiments/hepatitis_c/**/*.covg
/experiments/early-experiments/hepatitis_c/**/*.fasta
/experiments/early-experiments/hepatitis_c/**/*.analysis*.tsv
/probe-sets/**/*.covg
/probe-sets/**/*.fasta
/probe-sets/**/*.fna.gz
/probe-sets/**/*.fa
/probe-sets/**/*.analysis.tsv
/probe-sets/**/*.fastq
/probe-sets/**/all-alignment-analysis
/probe-sets/**/alignment-analysis
/probe-sets/**/log
/probe-sets/**/*.fasta

# Do allow the full, finalized probe sets
!/probe-sets/west-africa-viruses/all-with-adapters/*.fasta
!/probe-sets/west-africa-viruses/all-with-adapters/*.out
!/probe-sets/zika-and-chikungunya/2016-02/*.fasta
!/probe-sets/zika-and-chikungunya/2016-02/*.out
!/probe-sets/arboviruses/2016-12/ebel-lab/*.fasta
!/probe-sets/all-human-viruses/2016-06/params/count_350000.run-247.fasta
!/probe-sets/mumps-and-measles/2016-03/*.fasta
!/probe-sets/ecoli/v1/uclust80/all-probes.fasta
!/probe-sets/ecoli/v2/uclust80/probes/m2-e25.all-probes.fasta
!/probe-sets/mmr/2018-01/pool/mmr-pooled-probes.fasta

# Do allow additional input to probe sets
!/probe-sets/mmr/2018-01/additional-input/*.fasta

# hybsel_design analysis large files
/probe-sets/west-africa-viruses/**/*.fastq.gz
/probe-sets/west-africa-viruses/**/*.sam
/probe-sets/west-africa-viruses/**/*.bam
/probe-sets/west-africa-viruses/**/*.bai
/probe-sets/west-africa-viruses/**/*.bt2
/probe-sets/west-africa-viruses/**/*.fasta.*

# E. Coli input sequences
/probe-sets/ecoli/**/input

# E. Coli final probe set, which is large
/probe-sets/ecoli/v2-with-blacklist/uclust80/final-probe-set/OID45307_truncated_probes.txt

# Downloaded GenBank genomes
/download-genbank-viral-genomes/all
/download-genbank-viral-genomes/archive/all.201510
/download-genbank-viral-genomes/archive/existing
/download-genbank-viral-genomes/influenza/influenza.acc-list.txt

# Data and logs from experiments to generate plots showing scaling of probe counts
/experiments/compare-set-cover-to-baseline/data/*/num-probes/*
/experiments/compare-set-cover-to-baseline/data/*/log/*
/experiments/compare-set-cover-to-baseline/data/*/commands.txt

# Data and logs from experiments to generate plots showing probe counts at varying
# choices of parameters
/experiments/count-probes-with-varying-parameter-values/data/*/num-probes/*
/experiments/count-probes-with-varying-parameter-values/data/*/log/*
/experiments/count-probes-with-varying-parameter-values/data/*/commands.txt

# Some data in experiment to make probes from alignment
/experiments/make-probes-from-alignment/*.fasta
!/experiments/make-probes-from-alignment/*.aligned.gap-to-N.fasta
!/experiments/make-probes-from-alignment/naive_tiling.out

# Some data in experiment to benchmark LSH
/experiments/benchmark-lsh/data/*/*
